<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 권한이 없다. 책은 사용자가 SAF 로 고른 폴더에서만 읽는다(저장소 전체 권한 불필요).
         인터넷도 쓰지 않는다. -->

    <!-- 사전(N4): 고른 말을 휴대폰에 깔린 사전 · 번역 앱에 넘긴다(ACTION_PROCESS_TEXT). 안드로이드 11 부터는
         무엇을 찾는지 밝히지 않으면 그런 앱이 깔려 있어도 "없음" 으로 보인다. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <application
        android:name=".OloApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Olo">

        <!-- configChanges: 회전·다크 모드 전환에 액티비티를 다시 만들지 않는다. 다시 만들면
             열려 있던 책(EPUB 파일 디스크립터)을 닫고 다시 열어야 한다. Compose 가 새 크기로
             다시 그리고, 조판은 새 크기의 캐시로 읽던 글자에 돌아온다. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|uiMode|density"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 파일 관리자의 "연결 프로그램" 목록에 오르려면 여는 형식을 밝혀야 한다. 안드로이드는
                 이 선언을 보고 목록을 만든다(앱이 할 수 있는 일을 스스로 알리지 않으면 없는 앱이다).
                 content 만 받는다: file:// 은 안드로이드 7 부터 앱 사이에 넘길 수 없다. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:mimeType="application/epub+zip" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
    </application>
</manifest>
